{% extends "base.html" %}

{% block content %}
            <div class="principal">
                <form class="form_2" method="post" action="/agendamento">
                <h1 class="title">Agendamento</h1>
                <p> Para realizar o agendamento, informe seus dados abaixo:</p>

                <div class="input-group">
                    <label><p class="cent">Horário</p></label><br>
                    <select style="margin-left: 95px;" name="horario">
                        <option value="" disabled selected>Selecione o horário</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                    </select>
                </div>

                <h3 class="erro">{{msg}}</h3>

                <div class="input-group">
                    <button type="submit" class="btn" name="agendar">Agendar</button>
                </div>
                </form>
{% endblock %}